@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

body {
    background-color: #2971a7;
    text-align: center;
    font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
    letter-spacing: 0em; 
    color: #fff;
}

.container {
    margin: 5%;
    position: absolute;
    width: 90%;
}

#js {
  margin-top: 40px;
}