@font-face {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: 300;
  src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
  font-family: 'Glifos';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Glifos.woff');
}

body {
    background-color: #F6F6F6;
    text-align: center;
    font-family: 'Helvetica Neue Light', Helvetica, sans-serif;
    letter-spacing: 0em; 
    color: #2971a7;
}

h1 {
    font-size: 3em;
    margin: 0.4em 0;
}
.container {
    margin: 0 auto;
    width: 90%;
    margin-top: 20%;
    text-shadow: 1px 1px 1px #ccc;
}

#js {
  margin-top: 40px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "Glifos";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
 
.icon-ok:before {
  content: '\e802';
  color: #56af31;
}
.icon-cancel:before {
  content: '\e803';
  color: #cc4746;
}