<!-- extends from base template -->
{% extends "base.html" %}

{% block content %}
  </head>
  <body>
    <div class="container">
      <p>Tu IP es:</p>
      <h1>{{data.ip}}</h1>
      <p>Y el <i>User-Agent</i> de tu navegador es:</p>
      <h3>{{data.user_agent}}</h3>
      <h3 id="js">
        <span class='icon-cancel'></span> Javascript está activado
      </h3>
    </div>
    <script type="text/javascript">
    document.getElementById("js").innerHTML = "<span class='icon-ok'></span> Javascript está desactivado";
    </script>
{% endblock %}